h1{
    color: red;
    text-align: center;
    font-size: 30px;
}
h2{
    color:black:
    font-size: 30px;
    text-align: center;
}

 div{
    text-align: center;
 }
 p{
    font-size: 27px;
    text-align: center;
 }
 #subha{
    color: red;
    text-align:left;
 font-size: 40px;
}

 













